.content{
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
}
.button {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15%;
    text-decoration: none;
    color: black;
}

.button:hover {
    background-color: #F5F0BB;
}
body {
    background-color: #73A9AD;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.content>div, .content>img{
    
    width:500px;
    height:500px;
    overflow-wrap: break-word;
    background-color: #90C8AC;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
    border: 2px solid #F5F0BB;
    box-sizing: border-box;
    overflow:scroll;
}

.content>img {
    object-fit: cover;
}
#runImg {
    object-position: top;
}

.button a {
    width: inherit;
    height: inherit;
}

div.button {
    background-color:#F5F0BB;
}

.paragraph {
    padding-left: 60px;
    padding-right: 60px;
    overflow: scroll
}
.paragraph>h4 {
    font-size: 20px;
}
.time h1 {
    font-size: 75px;
}
.time h2 {
    font-size: 60px;
}
.time h3 {
    font-size: 40px;
}
.icon {
    width: 200px;
    height: 200px;
}

nav {
    width: 100vw;
    background-color: #C4DFAA;
}

.nav-item {
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 10%;
}
.nav-item:hover {
    background-color: #F5F0BB;
}

.col-lg-5 {
    padding-left: 0px;
    padding-right: 0px;
}

.card {
    width: 40vw;
    height: 40vw;
}